.createStudio {
    position: relative;
    .lineCircle {
        width: 680px;
        height: 680px;
        border-radius: 50%;
        border: 1px solid #707070;
        background-color: transparent;
        position: absolute;
        z-index: 0;
        opacity: 0.33;
        top: -10vh;
        z-index: 0;
    }
    .create {
        display: flex;
        z-index: 1;
        width: 100%;

        .text {
            margin: 0 auto;
            margin-right: 90px;
            background-color: #ffff;
            z-index: 1;
            width: 40%;
        }
        .video {
            max-width: 600px;
            //   margin-left: 30px;
            transition: 0.5s;
            width: 100%;
            z-index: 1;
        }
        .video:hover {
            transform: scale(1.02);
            -webkit-box-shadow: 2px 2px 32px -11px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 2px 2px 32px -11px rgba(0, 0, 0, 0.75);
            box-shadow: 2px 2px 32px -11px rgba(0, 0, 0, 0.75);
        }
    }
    .specialize {
        display: flex;
        margin: 80px 0;
        position: relative;
        align-items: center;

        .pattern {
            position: absolute;
            right: 50px;
            height: auto;
            width: 650px;
        }

        .text {
            margin-right: 50px;
            background-color: #ffffff;
            z-index: 1;
            h1 {
                font-family: 'Montserrat';
            }
            p,
            h2 {
                font-family: 'Montserrat Alternates';
            }
        }
        .wrapCircle {
            width: 450px;
            height: 450px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
            margin-left: 0 auto;
            .line {
                width: 330px;
                height: 330px;
                border: 1px solid #707070;
                border-radius: 50%;
                position: absolute;
                top: 60px;
                left: 60px;
                z-index: 0;
                opacity: 0.3;
            }
            .circle {
                width: 120px;
                height: 120px;
                border-radius: 100px;
                display: flex;
                flex-direction: column;
                background-color: #ffffff;
                align-items: center;
                justify-content: center;
                z-index: 1;
                cursor: pointer;

                -webkit-box-shadow: 2px 2px 32px -13px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 2px 2px 32px -13px rgba(0, 0, 0, 0.75);
                box-shadow: 2px 2px 32px -13px rgba(0, 0, 0, 0.75);
                transition: 0.5s;
                text-align: center;
                h1 {
                    font-size: 30px;
                    margin: 0;
                }
                h2 {
                    font-size: 17px;
                    color: #3a364e;
                    margin: 0;
                }
            }
            .circle:hover {
                transform: scale(1.04);
                box-shadow: 2px 2px 32px -6px rgba(0, 0, 0, 0.75);
            }
        }
    }
}

@media screen and (max-width: 756px) {
    .createStudio {
        .lineCircle {
            display: none;
        }
        .create {
            display: flex;
            flex-direction: column;
            .text {
                margin: 0 auto;
                text-align: center;
                width: 100%;
            }
            .video {
                margin: 40px auto;
                z-index: 1;
            }
        }
        .specialize {
            flex-direction: column;
            .text {
                margin: 20px auto;
                text-align: center;
                width: 100%;
                background-color: transparent;
            }

            .wrapCircle {
                width: 90vw;
                height: 90vw;
                .line {
                    width: 70vw;
                    height: 70vw;
                    border: 1px solid #707070;
                    border-radius: 50%;
                    top: 10vw;
                    left: 10vw;
                }
            }
        }
    }
}
